.auth-login{
    float: left;
    width: 100%;
    text-align: center;
}
.login{
    display: inline-block;
    width: 50%;
    height: 300px;
    border: 1px solid #fff;
    margin-top: 30px;
    text-align: center;
}
.error{
    color: rgb(245, 57, 57);

}
.login .btn{
    margin-top: 20px;
}
.input-text{
    border: none;
    width: 90%;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
}
